<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a target="_blank" href="https://www.facebook.com/profile.php?id=100048112164182"><i class="fa-brands fa-facebook" ></i></a></li>
            <a target="_blank" href="https://www.instagram.com/himanshusssingh/"><i class="fa-brands fa-instagram"></i></a></li>
            <a target="_blank" href="https://www.linkedin.com/in/himanshu-singh-325438291/"><i class="fa-brands fa-linkedin"></i></a>
            <a target="_blank" href="https://x.com/Himanshusssingh"><i class="fa-brands fa-x-twitter"></i></a>
    
        </div>
        <div class="f-info-braklkl">&copy; Wanderlust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a> 
        </div>
    </div>
</footer>