<% layout("layouts/boilerplate.ejs") %>
<body>
  <nav class="navbar navbar-expand-lg border-bottom  bg-light  ">
    <div class="container-fluid" id="filters">
      <!-- Toggle Switch -->
      <div class="form-check-reverse form-switch form-toggle ">
        <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
        <label class="form-check-label" for="switchCheckDefault">Show with Taxes&nbsp;</label>
      </div>
  
      <!-- Hamburger Menu Button -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Collapsible Menu -->
      <div class="collapse navbar-collapse  p-3 sticky-top" id="navbarNav">
        <!-- Filters -->
        <div class="filter"><i class="fa-solid fa-fire-flame-curved"></i><p>Trending</p></div>
        <div class="filter"><i class="fa-solid fa-bed"></i><p>Rooms</p></div>
        <div class="filter"><i class="fa-solid fa-person-swimming"></i><p>Amazing Pools</p></div>
        <div class="filter"><i class="fa-solid fa-umbrella-beach"></i><p>Beach</p></div>
        <div class="filter"><i class="fa-solid fa-mountain-city"></i><p>Mountain City</p></div>
        <div class="filter"><i class="fa-solid fa-mountain"></i><p>Mountain</p></div>
        <div class="filter"><i class="fa-brands fa-fort-awesome"></i><p>Castles</p></div>
        <div class="filter"><i class="fa-solid fa-campground"></i><p>Camping</p></div>
        <div class="filter"><i class="fa-solid fa-cow"></i><p>Farms</p></div>
        <div class="filter"><i class="fa-solid fa-sailboat"></i><p>Boat</p></div>
      </div>
    </div>
  </nav>

  <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-2">
    <% for(let listing of allListing){ %> 
      <a href="/listing/<%= listing._id %>" class="listing-link">
        <div class="card col listing-card" >
          <img src="<%= listing.image.url %>" class="card-img-top" alt="listing_image" style="height: 25rem;">
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%= listing.title %></b>  <br>
              &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
              <i class="tax-info">&nbsp; &nbsp; +18% GST</i>
            </p>
          </div>
        </div>
      </a>
      <% } %>
  </div>
</body>

